mixin checkResult(number)
  section.checkResult
    h3 #{number} &middot; Consulta tu puntuación de buró
    .loadingZone
      i.fa.fa-circle-notch.fa-spin
      br
      | Ya casi está listo, solo un poco más
    .chartZone.hidden
      .barChart
        .legend
          .min 200
          .map 400
        .bar
          - for ( i=1; i <= 32 ; i++ )
            - if (i < 30)
              .section(class=`section-${i}`).active
            - else
              .section(class=`section-${i}`)
      .actionZone
        p Tu resultado basado en tu historial del buró de crédito es:
        .number 380
        p.action
          |Eres el Super Sayayin del crédito. ¡Comparte tu score con tus amigos!
        .btns
          .addthis_inline_share_toolbox
  script.
    setTimeout(() => {
      const payByFB2 = document.querySelectorAll('.at-icon-wrapper.at-share-btn.at-svc-facebook .at-label')[1]
      const payByTW2 = document.querySelectorAll('.at-icon-wrapper.at-share-btn.at-svc-twitter .at-label')[1]
      payByFB2.innerHTML = "presumir en facebok"
      payByTW2.innerHTML = "presumir en twitter"
    },1000)
