mixin dataLoader(number)
  section.dataLoader
    h3 #{number} &middot; Ingresa tus datos aquí
    label.label
      span.text Nombre(s)
      input(type="text")
    label.label
      span.text Apellidos
      input(type="text")
    label.label
      span.text E-mail
      input(type="text")
    label.label
      span.text RFC
      input(type="text")
