extends _layout

include _dataLoader
include _payment
include _checkResult

block variables
  - var title = 'Checa tu score de buró de crédito'

block styles
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="styles/landing1.css")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

block body
  include _header
  content.content
    .row
      p.hero Ahora consultar tu buró de crédito es tan fácil como 1 &middot; 2 &middot; 3
    .row
      +dataLoader(1)
      +payment(2)
    .row
      +checkResult(3)
  include _footer

  script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b181384a69592b0")

  script.
    const btnHolders = document.querySelectorAll('.addthis_inline_share_toolbox')[0]
    setTimeout(() => {
      const payByFB = document.querySelectorAll('.at-icon-wrapper.at-share-btn.at-svc-facebook .at-label')[0]
      const payByTW = document.querySelectorAll('.at-icon-wrapper.at-share-btn.at-svc-twitter .at-label')[0]
      payByFB.innerHTML = "compartir en facebok"
      payByTW.innerHTML = "compartir en twitter"
      btnHolders.classList.remove('hidden')
      let clicks = 0
      const canReveal = () => {
        if (clicks < 1) return
        const loadingZone = document.querySelector('.loadingZone')
        const chartZone = document.querySelector('.chartZone')
        loadingZone.classList.add('hidden')
        chartZone.classList.remove('hidden')
      }

      payByFB.onclick = () => {
        clicks += 1
        canReveal()
      }

    },1000)
