extends _layout

block styles
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="styles/landing1.css")
  link(rel="stylesheet" href="styles/font-awesome.min.css")

block body
  include _header
  include _beneficios
  include _servicios
  include _adquirirla
  include _oportunidad
  include _comisiones
  include _informacion
  include _articles
  
  include _footer
