extends _layout

block styles
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="styles/landing1.css")

block body
  include _header
