section.aboutus
  header
    .handler
      .icon: i.fa.fa-handshake-o
    content
      h2 ¿Quiénes somos?
      p
        |Check forma parte de Resuelve, empresa mexicana que desde 2009 trabaja bajo una sola misión: Solucionar problemas financieros.
        br
        |Check nace con el propósito de ayudar a las personas que por alguna razón vieron afectado su historial, reincorporándolas al sistema crediticio.
        br
        |Hoy en día, la tarjeta Check está disponible para cualquier persona que necesite crear o reparar su historial para obtener mejores créditos.
  section.knownus
    h2 Conoce a nuestro equipo
    .colaboradores
      .colaborador
        figure: img(src="images/Fernando.png")
        span.name Fernando Velasco, Director
        i.fa.fa-quote-left
        p.quote
          |“Las personas con mal historial crediticio no tienen acceso a buenos créditos o de plano ¡no tienen acceso a ninguno! Muchas son personas muy comprometidas que no se administraron bien en el pasado. Check es la herramienta para que mejoren esa situación.”
      .colaborador
        figure: img(src="images/Monica.png")
        span.name Mónica Mijares, Asesor
        i.fa.fa-quote-left
        p.quote
          |“Check es la segunda oportunidad que tantas personas necesitan para corregir las malas decisiones financieras que tomaron. Me gusta ser parte de un equipo que les da esa posibilidad”.
      .colaborador
        figure: img(src="images/Victor.png")
        span.name Víctor Mercado, Asesor
        i.fa.fa-quote-left
        p.quote
          |“Check es la segunda oportunidad que tantas personas necesitan para corregir las malas decisiones financieras que tomaron. Me gusta ser parte de un equipo que les da esa posibilidad”.
  section.location
    .map
      <iframe width="770" height="453" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Av.%20Mariano%20Escobedo%20555%2C%20Planta%20Baja%2C%20Col.%20Bosques%20de%20Chapultepec%201a%20Secci%C3%B3n%2C%20Miguel%20Hidalgo%2C%20%20Ciudad%20de%20M%C3%A9xico.%20%20C.P.%2011580&key=AIzaSyDagjV-SuOOEkyekVltDP0vrGfIMuoOZk4" allowfullscreen></iframe>
    .address
      h2 Dónde estamos
      strong
        i.fa.fa-map-marker
        | Dirección
      p
        |Av. Mariano Escobedo 555, Planta Baja, Col. Bosques de Chapultepec 1a Sección, Miguel Hidalgo,
        br
        |Ciudad de México.
        br
        |C.P. 11580
      strong
        i.fa.fa-phone
        | Teléfono
      p
        a(href="tel:01800 020 411") 01800 020 411

