section.adquirirla
  header.handler
    .icon: i.fa.fa-cogs
    h2 ¿Cómo obtener la tarjeta?
  section.row.pasos
    section.is-half.card
      img(src="images/adquirirla-textura.png")
      img(src="images/adquirirla-card.png")
    section.is-half
      ol
        li
          h3 Regístrate
          p El proceso es fácil, rápido y seguro.
        li
          h3 Obtén tu contrato
          p Te enviaremos tu contrato vía email para que puedas firmarlo digitalmente, ¡es muy sencillo!
        li
          h3 Recibe tu tarjeta Check 
          p Te mandaremos tu tarjeta a la dirección que nos indiques. También recibirás una ficha de depósito con la que podrás abonar saldo ($1,000 o más) a tu cuenta.
        li
          h3 Tus depósitos siempre seguros
          p Tu saldo se depositará en una cuenta regulada por la <strong>CNBV (Comisión Nacional Bancaria  y de valores)</strong>. Tu dinero estará disponible cada vez que utilices tu tarjeta Check.
        li
          h3 Comienza a usar tu tarjeta
          p Podrás disponer del saldo que deposites en tu tarjeta. Gracias a que es una MasterCard®, podrás utilizarla para hacer cualquier tipo de compra en establecimientos o tiendas en línea.
