section.articles
  header.handler
    h2 Otros artículos que podrían interesarte:
  content
    article
      a: .img(style="background-image:url('images/Que-es-el-Buro-de-Credito.png')")
      a ¿Qué es el Buró de Crédito?

    article
      a: .img(style="background-image:url('images/Como-consultar-Buro-de-Credito-gratis.png')")
      a Cómo consultar Buró de Crédito ¡gratis!

    article
      a: .img(style="background-image:url('images/tarjetas-garantizadas.png')")
      a ¿Tarjeta de crédito sin buró? Sí, es posible.

    article
      a: .img(style="background-image:url('images/a-los-cuantos-años-te-borran-del-buro-de-credito.jpg')")
      a ¿A los cuántos años te borran de buró?
