section.beneficios
  header.handler
    .icon: i.fa.fa-users
    h2 Beneficios
  section.row.content.stretch
    section.is-halve
      ul
        li
          h3
            i.fa.fa-check-circle
            |  Personas con mal buró
          p Con Check mejoras tu calificación para volver a ser sujeto de crédito.

        li
          h3
            i.fa.fa-check-circle
            |  Personas sin historial crediticio
          p Check te ayuda a comenzar a construir un historial crediticio sano.

        li
          h3
            i.fa.fa-check-circle
            |  Extranjeros
          p.end Es una herramienta ideal para extranjeros que radican en México y necesitan una tarjeta de crédito.
    .v-divisor.green
      .bar: .triangle
    section.is-halve.is-center
      strong
        |Si necesitas sumar puntos en Buró, 
        br
        |Check es para ti.
      p
        .btn.full Quiero mejorar mi historial
