section.comisiones
  header.handler
    .icon: i.fa.fa-credit-card
    h2 Comisiones
    p
      |Mejorar tu historial es mucho más barato que pagar préstamos o productos caros que los bancos o financieras te ofrecerían debido a tu mal historial. ¡Date la oportunidad de acceder a mejores créditos! 
      br
      |Estas son nuestras comisiones:
  content.row.desc
    .rect
      .section
        ul
          li: h3 Cuánto gastaste al mes
          li $3,000 o menos
          li Más de $3,000, menos de $5,000
          li De $5,000 a $7,000
          li Más de $7,000
      .divisor
      .section
        ul
          li: h3 Comisión por cada $100
          li.strong $2.50
          li.strong $2.25
          li.strong $2.00
          li.strong $1.50
  content.row.bottom
    .bottomLine Úsala constantemente para mejorar más rápido tu score y pagar menos comisiones.
    .cta: .btn.btn-full Quiero la tarjeta Check
