header.header
  .bg: img(src="images/header-back.svg")
  .curve: img(src="images/header-onda.svg")
  nav.nav
    .brand
      .logo: img(src="images/check-logo.svg")
    ul
      li: a(href="#").link Beneficios
      li: a(href="#").link Servicios
      li: a(href="#").link ¿Cómo Adquirirla?
      li: a(href="#").link Comisiones
      li: a(href="#").link Más información
      li: a(href="#").link Conócenos
      li: .link: a(href="#").btn Quiero Check

  section.row.content
    section.is-half.cta
      h2 La única herramienta para mejorar tu historial crediticio
      p Corregir tu vida financiera no es complicado
      .cta-btn
        .btn.full Quiero mejorar mi historial

    .is-half
      figure.cards
        img(src="images/header-triangle.svg").triangle
        img(src="images/header-textura.png")
        img(src="images/header-cards.png")
