header.header
  .curve: img(src="images/onda.svg")
  .bg: img(src="images/bg.svg")
  nav.nav
    .brand
      .logo: img(src="images/check-logo.png")
    ul
      li: a(href="#").link Beneficios
      li: a(href="#").link Servicios
      li: a(href="#").link ¿Cómo Adquirirla?
      li: a(href="#").link Comisiones
      li: a(href="#").link Más información
      li: a(href="#").link Conócenos
      li: .link: a(href="#").btn Quiero Check

  .row
    .is-half
      h2 La única herramienta para mejorar tu historial crediticio
      p Corregir tu vida financiera no es complicado

      .btn.full Quiero mejorar mi historial
