section.informacion
  header.handler
    .icon: i.fa.fa-question
    h2 Para entender mejor
  section.row.centered
    p.info El score es un puntaje que las instituciones financieras toman en cuenta para determinar si eres candidato a un crédito y qué tasa de interés te pueden ofrecer.
  section.row.zones
    img(src="images/info-termometro.png")
    .desc
      .alright
        .text
          h3 EXCELENTE - 760 puntos o más
          p Quienes tienen esta calificación consiguen créditos hasta 50% más baratos comparados con los de alguien con un score considerado “BUENO”.
          h3 BUENO - 600 a 759 puntos o más
          p Con este puntaje aún es posible encontrar buenos productos financieros, pero es necesario mejorar el puntaje para pagar créditos con menos intereses.
        .v-divisor.blue
          .bar: .triangle
        .result: p
          |Quienes se encuentran en este rango obtienen préstamos con mejores condiciones y pagan menos intereses.
          br
          |CAT desde 9.5% hasta 23%
      .notAlright
        .text
          h3 MALO - menos de 599
          p Tu calificación únicamente te permite acceder a créditos caros, en los que terminarás pagando el doble de lo que solicitaste.
        .v-divisor.red
          .bar: .triangle
        .result: p
          |Con este puntaje es prácticamente imposible acceder a préstamos con un CAT menor al 75%. 
          br
          strong Check ayuda a quienes se encuentran aquí.

  section.row.articles
    ul
      li
        .header
          i.fa.fa-question-circle
          h3 ¿Por qué necesito mejorar mi historial crediticio?
        p Los bancos y otras instituciones revisan tu historial crediticio para comprobar que seas un cliente cumplido, sólo así podrán aprobarte mejores créditos. Como ves, es importante para ti tener una buena calificación, y con Check es sencillo incrementarla.
      li
        .header
          i.fa.fa-question-circle
          h3 ¿Qué es una tarjeta de crédito garantizada?
        p Es una tarjeta de crédito en la que tú mismo fijas tu línea de crédito según la cantidad de dinero que le abones como saldo.
      li
        .header
          i.fa.fa-question-circle
          h3 ¿Cómo mejoran mi historial?
        p Check reporta tu buen uso de la tarjeta a Buró de Crédito. Entre más y mejor uso le des, más rápido aumentará tu calificación crediticia, así, los bancos y otras instituciones financieras sabrán que pueden confiar en ti.
