section.servicios
  header.handler
    .icon: i.fa.fa-calendar-check-o
    h2 Esto es lo que Check tiene para ti:
    p Conoce los beneficios de la tarjeta de crédito que verdaderamente ayuda a mejorar tus finanzas.
  section.row
    ul
      li
        h3
          i.fa.fa-check
          |  Mejora tu historial crediticio
        p Manejar tus finanzas no debería causarte angustia. La tarjeta Check fue creada para ayudarte a mejorar tus hábitos financieros y así rehabilitar tu score crediticio.
      li
        h3
          i.fa.fa-check
          |  Cancela cuando lo decidas
        p Tú eliges. Con Check no hay plazos forzosos.

      li
        h3
          i.fa.fa-check
          |  Sin complicaciones
        p El trámite es rápido, sencillo y seguro.

      li
        h3
          i.fa.fa-check
          |  Mantienes el control de tus finanzas
        p Con Check nunca gastarás de más porque tú defines una línea de crédito que se ajusta a tus necesidades.

      li
        h3
          i.fa.fa-check
          |  Es una MasterCard®
        p Podrás utilizarla para hacer tus compras en cualquier establecimiento, aplicación o página web que admita pagos con MasterCard®

      li
        h3
          i.fa.fa-check
          |  Paga donde quieras
        p Ya sea en Farmacias del Ahorro, Farmacias Benavides, Waldos, Seven Eleven, Extra o por transferencia electrónica, siempre tendrás una opción práctica para pagar tu tarjeta Check.
